/*
Colores utilizados
#F2EDE4
#261201
#A6774E
#735C48
#A6958F
*/
/*
Colores resaltantes
#8C030E
#038C7F
#96D9CC
#F27405
#F24444
*/
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    height: 13vh;
    z-index: 3;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
}

#carousel-fixed {
    position: fixed;
    top: 13vh;
    z-index: 1;
    height: 87vh;
    width: 100%;
}

#content{
    position: absolute;
    z-index: 2;
    top: 100vh;
    background-color: #fff;
    width: 100%;
}

.separador-nav {
    color: #F2EDE4;
}

#header {
    background-color: #261201;
}

#header a {
    color: #F2EDE4;
}

#header a:hover {
    color: #F24444;
}

#nav-dropmenu {
    background-color: #261201;
    border: 1px;
    border-color: #F2EDE4;
}

#item-dropmenu {
    border-bottom: 1px;
    border-color: #F2EDE4;
}

#item-dropmenu:hover {
    color: #261201;
}

.carousel-inner {
    height: 87vh;
    width: 100%;
}

.carousel-item {
    height: 87vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#slide1 {
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("images/primVer2020.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slide2 {
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("images/hombres2020.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slide3 {
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("images/playaRopa.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#block-title {
    width: 100%;
    padding-left: 7vw;
    padding-top: 12vh;
    padding-bottom: 12vh;
}

#block-body-info {
    width: 100%;
    height: 80vh;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("images/tendencias2020.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#block-body-info h3{
    color: #fff;
    padding-top: 40vh;
    padding-left: 10vw;
    padding-right: 5vw;
    width: 50%;
    position: absolute;
}

#block-body-info div {
    background-color: #fff;
    width: 25vw;
    height: 100%;
    margin-top: 0px;
    margin-left: 50vw;
}

#block-body-info div h5{
    color: #000;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 50%;
}

#block-body-info div p{
    color: #000;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 40%;
}

.form-control {
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn-principal {
    background-color: #F24444;
    font-size: 2.5vh;
    padding: 5vh, 5vw;
    border-color: #F24444;
    color: #fff;
}

.btn-secundario {
    background-color: #F27405;
    font-size: 2.5vh;
    padding: 5vh, 5vw;
    border-color: #F27405;
    color: #fff;
}

.btn-informacion {
    background-color: #96D9CC;
    font-size: 2.5vh;
    padding: 5vh, 5vw;
    border-color: #96D9CC;
    color: #fff
}

.btn-exito {
    background-color: #038C7F;
    font-size: 2.5vh;
    padding: 5vh, 5vw;
    border-color: #038C7F;
    color: #fff;
}

.btn-peligro {
    background-color: #8C030E;
    font-size: 2.5vh;
    padding: 5vh, 5vw;
    border-color: #8C030E;
    color: #fff;
}

.btn-secundario:hover {
    background-color: rgba(252,126,15,1);
    border-color: rgba(252,126,15,1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.btn-informacion:hover {
    background-color: rgba(170,227,224,1);
    border-color: rgba(170,227,224,1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}
.btn-exito:hover {
    background-color: rgba(13,150,137,1);
    border-color: rgba(13,150,137,1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.btn-peligro:hover {
    background-color: rgba(150,13,24,1);
    border-color: rgba(150,13,24,1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.btn-principal:hover {
    background-color: rgba(252,88,88,1);
    border-color: rgba(252,88,88,1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.form-control:focus, .btn:focus {
    border-color: #F24444;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: ease-in 0.3s;
}

#block-newsletter {
    width: 100%;
    height: 50vh;
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("images/newsletter.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 10vh;
}

.form-inline {
    background-color: #fff;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    padding-bottom: 2vh;
    border-radius: 3px;
}

#block-newsletter form {
    width: 40vw;
    margin-left: 30vw;
    justify-content: center;
    align-items: center;
}

#block-newsletter h3 {
    padding-top: 10vh;
    color: #fff;
    text-align: center;
}

#block-newsletter p {
    color: #fff;
    text-align: center;
}

footer {
    background-color: #fff;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #F24444;
}

.bgLogIn{
    text-align: justify;
    background-color: #E2E1E6;
    padding: 30px;
    width: 30%;
}

.bgLogInForm{
    
    background-color: #474A59;
    padding: 30px;
}

.bgLogInCard{
    
    width: 70%;
    margin: 0 auto;
}

footer{
    position: abosolute;
    padding-top: 550px;

}